{% extends "base.html.twig" %}

{% block title %}
    Dashboad Gite
{% endblock %}

{% block body %}
    administration des gites PROGICA
            
    <section class="row">
        <a href="{{ path ("admin.new") }}" class="btn btn-warning col-1">Ajouter</a>
        <table class="table table-striped">
            <thead>
                <th>#id</th>
                <th>name</th>
                <th>action</th>
            </thead>
            <tbody>
            {% for gite in gites %}
                <tr>
                    <td>#{{ gite.id }}</td>
                    <td>{{ gite.name}}</td>
                    <td>
                        <a href="" class = "btn btn-primary">éditer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       </section>
{% endblock %}
